<form method="post">
    <label for="name">Введите свое имя: </label>
    <input type="text" name="name" /><br />
    <label for="age">Введите свой возраст: </label>
    <input type="number" name="age" /><br />
    <label for="languages">Выберите языки: </label>
    <select multiple name="languages">
        <option value="csharp">C#</option>
        <option value="vbnet">Visual Basic.NET</option>
        <option value="fsharp">F#</option>
        <option value="typescript">TypeScript</option>
    </select><br />
    <input type="submit" value="Отправить"/>
</form>